.main_container {
  background-color: white;
  font-family: "Anton", sans-serif;
}
.header {
  display: block;
  height: 30%;
  text-align: center;
}
.body {
  display: block;
  text-align: center;
}
.footer {
  display: block;
  text-align: center;
  border-top: dotted 3px #ababab;
}
.logo_container {
  padding-top: 30px;
  position: relative;
}
.logo {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 8%;
  z-index: 1;
}
circle {
  position: absolute;
  z-index: -1;
}
.rotate_img {
  animation: rotate 10s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.auth_container {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 78%;
  background-color: white;
}
.subTitle {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}
.author {
  font-weight: 600;
  font-size: 15px;
  color: #888888;
}
.link_tit {
  padding-top: 5px;
  color: black;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.banner_container {
  padding-bottom: 15px;
  border-bottom: dotted 3px #ababab;
}
.banner {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #333333;
}
